<!-- {% block title %} Dashboard 1 {% endblock title %}-->

<div class="header bg-gradient-success pb-4 pt-2 pt-md-6">
  <div class="container-fluid">
        <div class="header-body">
{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div style="width: 100%; min-height:800px;" >
            <iframe 
              noresize='noresize' 
              style='position: absolute; background: transparent; width: 100%; height:100%;'
              src={{ dash_url }}
              frameborder="0">
            </iframe>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
</div>
        </div>
        </div>
  </div>
{% endblock content %}
<!-- Header -->
    {% include 'includes/header.html' %}
      <div class="container-fluid">
          {% include 'includes/sidenav.html' %}
      </div>


